*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 20vh;
}
h1{
    transform: scale(1.5);
    color: aqua;
    font-size: 85px;
    animation: 2s animation1;
}
h2{
    transform: scale(1.5);
    position: absolute;
    color: aqua;
    font-size: 85px;
    margin-top: 285px;
    animation: 3s animation2;
}
@keyframes animation1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.5);
    }
}
@keyframes animation2{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.5);
    }
}

img{
    position: absolute;
    margin-top: 455px;
    height: 350px;
    width: 350px;
}